/*Global Styles imported in _app.js */
@import url("https://fonts.googleapis.com/css?family=Exo+2");
/*Element styles*/
h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  font-family: "Exo+2", "normal";
  weight: 400;
}

.primary-link {
  color: aqua;
  text-decoration: none!important;
}

main {
  height: "100%";
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

html {
  background-image: "url(/dots.png)";
  background-color: #330D36;
}
/* .MuiInputLabel-root.Mui-focused {
    color: white;
  } */
.MuiTableCell-root {
  border-bottom: none;
}
.modal-container {
  position: absolute;
  border-top: 10%;
  border-left: 10%;
  width: 80%;
  height: 90%;
  background-color: #2e2e2e;
  box-shadow: 24px;
  border-radius: 20px;
  padding: 26px 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
