/*Global Styles imported in _app.js */
@import url("https://fonts.googleapis.com/css?family=Exo+2");
/*Element styles*/
h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  font-family: "Exo+2", "normal";
  weight: 400;
}

/*class styles*/
/* .MuiOutlinedInput-root.Mui-focused {
    color: black;
} */

/* .MuiInputLabel-root.Mui-focused {
    color: white;
  } */
