.background {
  margin-bottom: 1px;
}

body {
  color: white;
  background: linear-gradient(116.82deg, #2f0d32 0%, #000000 100%);
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
}

span.early-access {
  color: black;
  font-weight: 700;
  background-color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  font-size: smaller;
}

.fw-900 {
  font-weight: 900;
}

.mb-7 {
  margin-bottom: 7rem;
}

h3 {
  font-weight: 600;
}

.second-cta {
  text-align: center;
  padding-top: 4rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.footer {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
}
